<h2><%= @cohort.name %></h2>
<h5><%= @cohort.name%> Meetups</h5>
<% @cohort.meetups do |user| %>
  <%= link_to meetup.name, meetup_path(meetup) %> <br>
<% end %>
<h5><%= @cohort.name%> Members</h5>
<% @users.each do |user| %>
  <%= link_to user.name, user_path(user) %> <br>
<% end %>