<br>

<h3> Meetup Dashboard</h3>

<h5>Today's meetups:</h5>

<% Meetup.today.each do |meetup|%>
<ul>
 <%= link_to meetup.title, meetup_path(meetup) %>,
 <%= meetup.time %>,
 <%= meetup.location.name %>
</ul>
<%end%>


<br>
<h5>This Weeks's meetups:</h5>
<% Meetup.this_week.each do |meetup|%>
<ul>
 <%= link_to meetup.title, meetup_path(meetup) %>,
 <%= meetup.time %>,
 <%= meetup.location.name %>
</ul>
<%end%>

<h5>Meetups by cohort:</h5>
  <%Cohort.all.each do |cohort|%>
    <h5><%=cohort.name%>:</h5>
    <% cohort.meetups.each do |meetup| %>
      <%= link_to meetup.title, meetup_path(meetup) %> <br>
    <% end %>
  <% end %>

