<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <%= form_for @user, html: {:role => "form"} do |f| %>
          <div class="form-group">
            <p><%= f.label :name %> </p>
            <%= f.text_field :name, class: 'form-control', maxlength: "30" %><br>
            <p><%= f.label :bio %> </p>
            <%= f.text_area :bio, class: 'form-control', maxlength: "500"%><br>
          </div>
          <div class="text-center">
            <%= f.submit "Update Profile", class: "btn btn-secondary btn-sm scroll"  %> 
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>