
<h3><%= @user.user_name %></h3>
Email: <%= @user.email %> <br>
Name: <%= @user.name %> <br>
Cohort: <%= link_to @user.cohort.name, cohort_path(@user.cohort_id) %> <br>
Bio: <%= @user.bio %> <br>

<ul>
<li><%= button_to 'Edit Info', edit_profile_path, method: 'get' %></li>
<li><%= button_to 'New Meetup', new_meetup_path, method: 'get' %></li>
<li><%= button_to 'All Meetups', meetups_path, method: 'get' %></li>
</ul>
<br>

<div class="row">
<%if @user.meetups.length > 0 %>
<h5> <%= "Meetups #{@user.user_name} is hosting:" %> </h5> 
  <% @user.meetups.each do |meetup| %>
    <ul><%= link_to meetup.title, meetup_path(meetup) %></ul>
  <%end%>
<% else %>
<h5> <%= "#{@user.user_name} is not currently hosting any meetups" %></h5>
<% end %>
</div><br>
<div class="row">
<% if @invites.length > 0 %>
  <h5> <%= "Meetups you are invited to:" %></h5>
  <ul>
  <% @invites.each do |invite| %>
    <li><%= link_to invite.title, meetup_path(invite) %></li>
  <% end %>
  </ul>
<% else %>
<h5> <%= "You currently have no invitations" %>
<% end %>
</div>
<div class="row">
<%if @user.meetups_to_attend.length > 0 %>
<h5> <%= "Meetups you are attending:" %> </h5> 
  <% @user.meetups_to_attend.each do |meetup| %>
    <ul><%= link_to meetup.title, meetup_path(meetup) %></ul>
  <%end%>
<% else %>
  <h5> <%= "You are not currently attending any meetups" %></h5>
<% end %>
</div><br>
<div class="row">
<%if @user.meetups_attended.length > 0 %>
  <h5> <%= "Meetups you attended:" %> </h5> 
  <% @user.meetups_attended.each do |meetup| %>
    <ul><%= link_to meetup.title, meetup_path(meetup) %></ul>
  <%end%>
<% else %>
  <h5> <%= "You have not attended any meetups" %></h5>
<% end %>
</div>

<ul>
<li><%= button_to 'All Cohorts', cohorts_path, method: 'get' %></li>
<li><%= button_to 'All Locations', locations_path, method: 'get' %></li>
</ul>

<% if @user.is_admin? %>
<p> Admin Panel </p>
<ul>
<li><%= button_to 'View All Users', users_path, method: 'get' %></li>
<li><%= button_to 'New Cohort', new_cohort_path, method: 'get' %></li>
<li><%= button_to 'New Location', new_location_path, method: 'get' %></li>
</ul>
<% end %>

