<h3>Profile</h3>
User Name: <%= @user.user_name %> <br>
Email: <%= @user.email %> <br>
Name: <%= @user.name %> <br>
Cohort: <%= link_to @user.cohort.name, cohort_path(@user.cohort_id) %> <br>
Bio: <%= @user.bio %> <br>

<ul>
<li><%= button_to 'Edit Info', edit_profile_path, method: 'get' %></li>
<li><%= button_to 'New Meetup', new_meetup_path, method: 'get' %></li>
<li><%= button_to 'All Meetups', meetups_path, method: 'get' %></li>
</ul>
<br>

<h5> Meetups <%= @user.user_name %> is hosting: </h5> 
<ul>
<% @user.meetups.each do |meetup| %>
  <%= link_to meetup.title, meetup_path(meetup) %><br>
<%end%>
</ul> <br>
<h5> Meetups <%= @user.user_name %> is attending: </h5>
<ul> 
  <% @user.meetups_to_attend.each do |proxy|%>
     <% proxy.each do |meetup| %>
      <%= link_to meetup.title, meetup_path(meetup) %><br>
  <%end%>
<%end%></ul><br>
<h5> Meetups <%= @user.user_name %> has attended: </h5> 
<ul>
  <% @user.meetups_attended.each do |proxy|%>
     <% proxy.each do |meetup| %>
      <%= link_to meetup.title, meetup_path(meetup) %><br>
  <%end%>
<%end%>
</ul>

<ul>
<li><%= button_to 'All Cohorts', cohorts_path, method: 'get' %></li>
<li><%= button_to 'All Locations', locations_path, method: 'get' %></li>
</ul>

<% if @user.is_admin? %>
<p> Admin Panel </p>
<ul>
<li><%= button_to 'View All Users', users_path, method: 'get' %></li>
<li><%= button_to 'New Cohort', new_cohort_path, method: 'get' %></li>
<li><%= button_to 'New Location', new_location_path, method: 'get' %></li>
</ul>
<% end %>

