<%= link_to "Meetup Dashboard", dashboard_path %> 
<%= link_to "Logout", logout_path, method: :delete %> 

<h3>Profile</h3>
User Name: <%= @user.user_name %> <br>
Email: <%= @user.email %> <br>
Name: <%= @user.name %> <br>
Cohort: <%= link_to @user.cohort.name, cohort_path(@user.cohort_id) %> <br>
Bio: <%= @user.bio %> <br>

Meetups <%= @user.user_name %> hosting <br>
Meetups <%= @user.user_name %> I'm attending <br>
Meetups <%= @user.user_name %> I've been to <br> 

